In [93]:
import pandas as pd
import datetime

In [94]:
today_date = datetime.datetime.today()
today_date

datetime.datetime(2024, 4, 27, 20, 39, 58, 917168)

In [95]:
today_date - datetime.timedelta(3)

datetime.datetime(2024, 4, 24, 20, 39, 58, 917168)

In [96]:
#list comprehension
days= [today_date-datetime.timedelta(x) for x in range(0,15)]

In [97]:
import pandas as pd
data = pd.DataFrame(days)
data

                            0
0  2024-04-27 20:39:58.917168
1  2024-04-26 20:39:58.917168
2  2024-04-25 20:39:58.917168
3  2024-04-24 20:39:58.917168
4  2024-04-23 20:39:58.917168
5  2024-04-22 20:39:58.917168
6  2024-04-21 20:39:58.917168
7  2024-04-20 20:39:58.917168
8  2024-04-19 20:39:58.917168
9  2024-04-18 20:39:58.917168
10 2024-04-17 20:39:58.917168
11 2024-04-16 20:39:58.917168
12 2024-04-15 20:39:58.917168
13 2024-04-14 20:39:58.917168
14 2024-04-13 20:39:58.917168

In [98]:
data.columns = ["day"]
data.head()

                         day
0 2024-04-27 20:39:58.917168
1 2024-04-26 20:39:58.917168
2 2024-04-25 20:39:58.917168
3 2024-04-24 20:39:58.917168
4 2024-04-23 20:39:58.917168

In [99]:
import pandas as pd

# Assuming 'data' is your DataFrame and 'day' is the datetime column
data['weekday_name'] = data['day'].dt.day_name()

data['weekday_name']

data.head()

                         day weekday_name
0 2024-04-27 20:39:58.917168     Saturday
1 2024-04-26 20:39:58.917168       Friday
2 2024-04-25 20:39:58.917168     Thursday
3 2024-04-24 20:39:58.917168    Wednesday
4 2024-04-23 20:39:58.917168      Tuesday

In [100]:
# Create a mapping dictionary
weekday_mapping = {
    'Monday': 1,
    'Tuesday': 2,
    'Wednesday': 3,
    'Thursday': 4,
    'Friday': 5,
    'Saturday': 6,
    'Sunday': 7
}

# Map the numerical values to the 'weekday_name' column
data['weekday_ordinal'] = data['weekday_name'].map(weekday_mapping)

data

                          day weekday_name  weekday_ordinal
0  2024-04-27 20:39:58.917168     Saturday                6
1  2024-04-26 20:39:58.917168       Friday                5
2  2024-04-25 20:39:58.917168     Thursday                4
3  2024-04-24 20:39:58.917168    Wednesday                3
4  2024-04-23 20:39:58.917168      Tuesday                2
5  2024-04-22 20:39:58.917168       Monday                1
6  2024-04-21 20:39:58.917168       Sunday                7
7  2024-04-20 20:39:58.917168     Saturday                6
8  2024-04-19 20:39:58.917168       Friday                5
9  2024-04-18 20:39:58.917168     Thursday                4
10 2024-04-17 20:39:58.917168    Wednesday                3
11 2024-04-16 20:39:58.917168      Tuesday                2
12 2024-04-15 20:39:58.917168       Monday                1
13 2024-04-14 20:39:58.917168       Sunday                7
14 2024-04-13 20:39:58.917168     Saturday                6

count or frequency encoding

In [ ]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None,index_col=None)
train_set.head()

In [ ]:
train_set[1].unique()

In [ ]:
train_set[1].value_counts()

In [ ]:
columns=[1,3,5,6,7,8,9,13]

In [ ]:
train_set=train_set[columns]
train_set.columns=['Employment','Degree','Status','Designation','family_job','Race','Sex','Country']
train_set.head()

In [ ]:
unique_categories = {col: train_set[col].unique() for col in train_set.columns}
for col, cats in unique_categories.items(): print(col, cats)

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'train_set'
# Get the count of categories for each feature
category_counts = {col: train_set[col].value_counts()  for col in train_set.columns}

# Print the counts for each feature
for col, counts in category_counts.items():
    print(f"Counts for {col}:")
    print(counts)
    print()

In [ ]:
train_set['Country'].value_counts()

In [ ]:
feature_lengths = {col: len(train_set[col].unique()) for col in train_set.columns}

# Print the length of each feature
for col, length in feature_lengths.items():
    print(f"Length of {col}: {length}")

In [ ]:
country_map=train_set['Country'].value_counts().to_dict()

train_set['Country']=train_set['Country'].map(country_map)
train_set.head(20)

# target guided ordinal encoding

we are targeting the feature finding the percentage mean and giving the ordinal encoding(rank)for that

In [ ]:

import pandas as pd
df=pd.read_csv('Titanic-Dataset.csv', usecols=['Cabin','Survived'])
df.head()

In [ ]:
df['Cabin'].fillna('Missing',inplace=True)

In [ ]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [ ]:
df.head()

In [ ]:
df.Cabin.unique()

In [ ]:
cabin_sur= df.groupby(['Cabin'])['Survived'].mean()
cabin_sur

In [ ]:
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

In [ ]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

In [ ]:
#ennumarate - to list out
enumerate(ordinal_labels,0)

In [ ]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

In [103]:

df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)
df.head(20)

  Cabin  cab_Survived_percent  Cabin_ordinal_labels
0     A              0.466667                     2
1     B              0.744681                     6
2     C              0.593220                     4
3     D              0.757576                     8
4     E              0.750000                     7
5     F              0.615385                     5
6     G              0.500000                     3
7     M              0.299854                     1
8     T              0.000000                     0

In [123]:
import pandas as pd

# Sample DataFrame
data = {
    'Cabin': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'M', 'T'],
    'cab_Survived_percent': [0.466667, 0.744681, 0.593220, 0.757576, 0.750000, 0.615385, 0.500000, 0.299854, 0.000000]
}
df = pd.DataFrame(data)

# Sort the DataFrame by survival rate percentages
df_1 = df.sort_values(by='cab_Survived_percent')

# Assign numerical values to each cabin based on their sorted order
df_1['Cabin_numerical'] = range(len(df_sorted))

# Reset the index to a numerical sequence starting from 0
df_1.reset_index(drop=True, inplace=True)

df_1

  Cabin  cab_Survived_percent  Cabin_numerical
0     T              0.000000                0
1     M              0.299854                1
2     A              0.466667                2
3     G              0.500000                3
4     C              0.593220                4
5     F              0.615385                5
6     B              0.744681                6
7     E              0.750000                7
8     D              0.757576                8